<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805613809903-5j8bu92dbr6337mfircdonlo3dt29vh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805613809903-5j8bu92dbr6337mfircdonlo3dt29vh5</string>
	<key>API_KEY</key>
	<string>AIzaSyCXzAHixxblh_zy390bBTnJvtfl1QUdSnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>805613809903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elx.minotes</string>
	<key>PROJECT_ID</key>
	<string>minotes-project</string>
	<key>STORAGE_BUCKET</key>
	<string>minotes-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805613809903:ios:42bca28fb4fde2e6396b1a</string>
</dict>
</plist>